.accordion#search_form
  .card
    .card-header
      %h4
        %a.btn{:"data-toggle" => "collapse", :"data-target" => "#collapse1"}
          Basic Search
          (fewer options)
    .collapse.show#collapse1{:"data-parent" => "#search_form"}
      .card-body=render 'program_basic_search'
  .card
    .card-header
      %h4
        %a.btn.collapsed{:"data-toggle" => "collapse", :"data-target" => "#collapse2"}
          Advanced Search
          (all options)
    .collapse#collapse2{:"data-parent" => "#search_form"}
      .card-body=render 'program_advanced_search'
