.row

%ul.tabs{data-tab: "data-tab"}
  %li.tab-title.active %a{href: #panel1} Tab 1
  %li.tab-title %a{href: #panel2} Tab 2
  %li.tab-title %a{href: #panel3} Tab 3
  %li.tab-title %a{href: #panel4} Tab 4
</ul>
<div.tabs-content 
  <div.content active" id="panel1 
    <p>This is the first panel of the basic tab example. You can place all sorts of content here including a grid.</p>
  </div>
  <div.content" id="panel2 
    <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
  </div>
  <div.content" id="panel3 
    <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
  </div>
  <div.content" id="panel4 
    <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
  </div>
</div>
