%table.table
  %thead
    %tr
      %th Name
      %th Summary
      / %th Rating
      %th{colspan: 2}
  %tbody
    - programs.each do |program|
      %tr
        %td= link_to(program.name, program_path(program))
        %td= program.summary
        / %td= program_rating_str(program)
        / %td.tight= platforms_str(program, false)
        / %td.tight= source_str(program)
