= search_form_for @q do |f|
  / =f.hidden_field(:for_audience, value: Feature.has_value(Feature::AUDIENCE_GENERAL_USER))
  / =f.hidden_field(Feature::SEARCH_LEVEL, value: Feature::SEARCH_LEVEL_BASIC)
  / .row
  /   .col-md-12
  /     Select one or more conditions to search by, then click 'Submit'
  .row#form-text-search
    .col-md-2
      = f.label "I want to..."
      = f.select :function, Feature.basic.selector_values(Feature::FUNCTION), prompt: ' - Any - '
    .col-md-2
