.div1
  .headline1= link_to("I Do Imaging", root_path)
  .subhead Free Medical Imaging Software

.container
  .navbar.navbar-default.navbar-fixed-top
    .container-fluid
      %a.navbar-brand=link_to("I Do Imaging", root_path)
      #navbar
        %ul.nav.navbar-nav
          %li one
          %li two
          %li three
          %li four
          %li five
          %li six
        %ul.nav.navbar-nav.navbar-right
          - if true
            %li seven
            %li eight
            %li nine
          - else
            %li ten
            %li eleven
