- provide(:title, "Home")
.row
  .col-sm-9
    / Render .md page directly
    =raw render partial: 'pages/welcome'
    %a.btn.btn-secondary.info-button.centered{ href: "/programs" }
      Search for Programs
    =render partial: 'quickref'
  .col-sm-3
    =render partial: 'adsense'
.row
  .col-sm-6
    .newly-added-programs
      %h2 Newly-added programs
      =render partial: 'programs/short_summary_table', locals: {programs: @programs_new_releases}
  .col-sm-6
    .new-program-versions
      %h2 New version releases
      =render partial: 'programs/short_version_summary', locals: {versions: @programs_latest_versions}
.row
  .col-sm-6.front-sidebar
    - if (entries = get_blog_summary).count > 0
      =render partial: 'pages/blog_summary', locals: {entries: entries}
