- provide(:title, "Turku 2017")
.row
	.col-md-12
		%h2.text-center XIV Turku PET Symposium, 2017
.row
	.col-md-8
		%h3 Hands-on Imaging Workshop
		=raw render partial: 'pages/turku_2017/workshop'
	.col-md-4
		Pictures of the workshop go here...
.row
	.col-md-6
		%h3 Accommodating error in research PET imaging studies
		=raw render partial: 'pages/turku_2017/talk_error'
	.col-md-6
		%h3 Recent developments in free medical imaging software
		=raw render partial: 'pages/turku_2017/talk_recent'
