// ------------------------------------------------------------
// Global defaults
// ------------------------------------------------------------

just-for-testing {
  border: 0px solid blue;
}

$idi-bg-0: #5b92a2;
$idi-bg-1: #007e84;

body {
  font-family: 'Open Sans', sans-serif;
}

.program_search {
  label {
    display: block;
  }
}


// ------------------------------------------------------------
// Navbar and site title
// ------------------------------------------------------------

.navbar {
  background-color: $idi-bg-1;
  margin-bottom: 0;
  height: 30px;
  a {
    color: white;
    text-shadow: none;
    text-align: bottom;
    &:hover {
      background: rgba(0, 80, 80, 0.4);
      text-decoration: none;
    }
  }
  li {
    list-style: none;
    text-transform: uppercase;
    a {
      padding: 0.3rem 1rem 0.3rem 1rem;
    }
  }
}

.navbar-nav > li > a, .navbar-brand {
  padding-top:5px !important; padding-bottom:5 !important;
  height: 30px;
}
.navbar {min-height:30px !important;}

.site_title {
  background-color: $idi-bg-1;
  text-shadow: none;
  .main_title {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 3.6rem;
    color: #fff;
    text-transform: uppercase;
    a {
      color: #fff;
      margin: 0;
    }
    a:hover {
      color: #fff;
      text-decoration: none;
    }
    a:visited {
      color: #fff;
    }
  }
  .sub_title {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: #eee;
    font-size: 1.4rem;
    padding-left: 2px;
    // float: left;
    text-transform: uppercase;
    position: relative;
    top: -8px;
  }
}

// ------------------------------------------------------------
// Devise forms
// ------------------------------------------------------------

.devise-bs {
  margin: 1rem 0 1rem 0;
}

.users-shared-links {
  text-align: center;
}

// ------------------------------------------------------------
// Program page
// ------------------------------------------------------------

.ahc_right {
  float: right;
}

td {
  .nowrap {
    white-space:nowrap;
  }
  .tight {
    padding: 8px 2px;
    border-collapse: collapse;
  }
}

.prog-show {
  padding: 10px;
}

.prog-title {
  h1,h4 {
    text-align: center;
    margin: 5px 0 0px 0;
  }
}

.prog-sidebar {
  float: right;
  // background-color: #FFE5FF;
  // background-color: #FFECE5;
  // background-color: #D3DFE8;
  // background-color: #f9f9e5;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 8px;
  .heading {
    text-decoration: underline;
  } 
  h4 {
    text-align: center;
    margin-top: 0;
  }
}

// ------------------------------------------------------------
// Program search
// ------------------------------------------------------------

#search_form {
  margin-top: 12px;
}

.submit-buttons {
  margin: 6px;
  .button {
    margin: 6px;
  }
}

.search_summary_table {
  margin: 3px 5px;
  border: 1px solid gray;
  padding: 3px 5px;
  td {
    padding: 3px 5px;
  }
  th {
    background: #eee;
    padding: 3px 5px;
  }
}


// -------------------------------------------------------
// Pagination
// -------------------------------------------------------

.pagin {
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

// ------------------------------------------------------------
// Blog summary in page/home
// ------------------------------------------------------------

$verylightgrey: #f8f8f8;

.blog_summary {
  background-color: $verylightgrey;
  padding: 8px;
  margin: 15px 0px 10px 0px;
  border: 1px solid $verylightgrey;
  border-radius: 6px;
  h4 {
    text-align: center;
  }
  .blog_entry:not(:last-child) {
    border-bottom: 1px solid gray;
  }
}

.blog_entry {
  padding: 5px 0px 5px 0px;
}

.blog_entry_title {
  font-weight: bold;
  text-align: center;
}

.blog_entry_date {
  font-size: 80%;
  text-align: center;
}

// ------------------------------------------------------------
// Font Awesome
// ------------------------------------------------------------

.fa {
  color: #8ae;
}

.newly-added {
  .fa {
      font-size: 12px !important;
    }
}

.os-icon {
  padding-left: 3px;
}

// ------------------------------------------------------------
// Admin section on bottom of page for logged-in administrators
// ------------------------------------------------------------

.admin_functions {
  float: left;
  background-color: #eff;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 8px;
  .heading {
    text-decoration: underline;
  } 
}

// -------------------------------------------------------
// Flash messages
// -------------------------------------------------------

// .recaptcha_error {
//   background-color: #faa;
// }

// .alert.notice {
//   // background-color: #dbf0ff;
//   // background-color: #d1ffd6;
//   background-color: #e8ffea;
// }

// -------------------------------------------------------
// Footer
// -------------------------------------------------------

$footer-fg: #ffffff;

.footer {
  margin-top: 1rem;
  background-color: $idi-bg-1;
  text-align: center;
  font-size: 1.75rem;
  padding: 0rem 4rem 0rem 4rem;
  p {
    &.copywrite {
      color: $footer-fg;
      font-size: 75%;
      margin: 0;
    }
    margin: 0.5rem 0 0.5rem 0;
  }
  .fa {
    color: #ddd;
  }
  .links a {
    // display: block;
    list-style: none;
    // font-weight: bold;
    color: #ffffff;
    // padding: 3rem 0 2rem;
    margin: 0;
    &::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem;
    }
    &:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
    }
    &:hover {
      background-color: $idi-bg-1;
  // color: red;
}
}
.social {
    // color: green;
  }
  .social-handle {
    padding-left: 0.7rem;
    font-size: 75%;
    color: $footer-fg;
  }
  .social-part {
    font-size: 75%;
    color: $footer-fg;
  }
  .copyright {
    display: block;
    padding-top: 0.7rem;
  }


}
