-# Rails flash messages styled for Zurb Foundation
- flash.each do |name, msg|
  - if msg.is_a?(String)
    %div{:'data-alert' => true, class: "alert-box round #{name.to_s == 'notice' ? 'success' : 'alert' }"}
      = content_tag :div, (msg + link_to("&times;".html_safe, '#')).html_safe
